<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="/img/logo.png" width="50" height="50" alt="로고"> <a class="navbar-brand" href="/">SoccerSync</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fixture
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">전체 일정</a></li>
            <li><a class="dropdown-item" href="/fixtures/292">K리그1 일정</a></li>
            <li><a class="dropdown-item" href="/fixtures/293">K리그2 일정</a></li>
            <li><a class="dropdown-item" href="/fixtures/39">EPL 일정</a></li>
            <li><a class="dropdown-item" href="/fixtures/140">라리가 일정</a></li>
            <li><a class="dropdown-item" href="/fixtures/135">세리에A 일정</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Standing
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/standings/292">K리그1 순위</a></li>
            <li><a class="dropdown-item" href="/standings/293">K리그2 순위</a></li>
            <li><a class="dropdown-item" href="/standings/39">EPL 순위</a></li>
            <li><a class="dropdown-item" href="/standings/140">라리가 순위</a></li>
            <li><a class="dropdown-item" href="/standings/135">세리에A 순위</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>



      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentUser) {%>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
      </div>

    </div>
  </div>
</nav>