<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="css/home.css">

    <div class="container d-flex justify-content-center">
        <div class="header">
            <img src="/img/logo.png" alt="로고">
            <h1>SoccerSync</h1>
            <br>
            <h1>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">일정 체크</span>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">, 순위 체크</span>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">, 베팅 정보까지 </span>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="900">, 한번에 확인 가능</span>
            </h1>


        </div>
        <img src="img/main.jpg" class="img-fluid" alt="출력안됨">
    </div>

    <script src="js/home.js"></script>